<div class="convo-with-section" data-controller="convo-subscription" data-convo-subscription-convo-id-value="<%= @convo.id %>" data-convo-subscription-user-email-value="<%= current_user.email%>">
  <h2>Convo entre: </h2>
  <h2><%= @convo.sender.pseudo %> </h2>
  <h2>et</h2>
  <h2><%= @convo.receiver.pseudo %></h2>
  <section data-convo-subscription-target="messages">
    <% @messages.each do |message| %>
      <%= render message %>
    <% end %>
  </section>

  <%= simple_form_for [@convo, @message],
  html: { data: { action: "turbo:submit-end->convo-subscription#resetForm" } } do |form| %>
    <%= form.input :content %>
    <%# <%= form.submit 'Send' %>
    <button type="submit"><i class="fa-regular fa-paper-plane"></i></button>
  <% end %>
</div>
