

<section class="legend-form-container">
  <div class="modification-content">
    <h2>Salut <%= current_user.email %></h2>
    <h2>Modifier adresse mail et mot de passe</h2>
  </div>
  <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
    <%= f.error_notification %>

    <div class="form-inputs">
      <%= f.input :email, required: true, autofocus: true, placeholder: "ringo_s@liverpool.com" %>

      <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
        <p>Currently waiting confirmation for: <%= resource.unconfirmed_email %></p>
      <% end %>
      <%= f.input :pseudo, required: true %>
      <%= f.input :password,
                  hint: "Modifiez votre mot de passe ou ne renseignez pas cette case si vous souhaitez garder le même",
                  required: false,
                  input_html: { autocomplete: "new-password" }, placeholder: "********" %>
      <%= f.input :password_confirmation,
                  required: false,
                  input_html: { autocomplete: "new-password" }, placeholder: "********" %>
      <%= f.input :current_password,
                  hint: "Pour modifier les nouveaulles infos, nous avons besoin de votre mot de passe",
                  required: true,
                  input_html: { autocomplete: "current-password" }, placeholder: "********" %>
    </div>

    <div class="form-actions">
      <%= f.button :submit, "Update" %>
    </div>
  <% end %>
    <%= link_to "Me déconnecter", destroy_user_session_path, class: "delete-button", data: { turbo_confirm: "Etes-vous sûr ?", turbo_method: :delete } %>

   <div class="d-flex align-items-center unhappy-div">
      <%= button_to "Supprimer mon compte", registration_path(resource_name), data: { confirm: "For real??" }, method: :delete, class: "btn btn-link rounded" %>
    </div>
</section>



  <%# <div class="delete-account">
    <h3>Supprimer mon compte</h3>
  </div> %>
