
<article class="booking-show-container">
  <%= link_to :back, class: 'return_button' do %>
    <i class="fa-solid fa-arrow-left"></i>
  <% end %>
  <div class="img-div-banner"
        style="background-image: linear-gradient(rgb(0, 0, 0, 0.5), rgb(0, 0, 0, 0.5)),
        url(<%= @booking.activity.photos.any? ?
          cl_image_path(@booking.activity.photos.first.key) :
          image_url('https://cdn.pixabay.com/photo/2016/09/08/22/43/books-1655783_1280.jpg') %>)">

    <h1 class="mb-3"><%= @booking.activity.title %></h1>
    <h2 class="infos-kid">
      <div class="activity-with">
        Activité avec
      </div>
      <div class="kid-name"><%=@booking.kid.first_name.capitalize %></div>
    </h2>
    <h3>le <%= @booking.start_at.strftime("%d %b %y")%>, de <%= @booking.start_at.strftime("%H:%M")%> a <%= @booking.end_at.strftime("%H:%M")%></h3>
  </div>

  <div class="info-card">
    <div class="reviews-booking">
      <%= render 'activities/reviews', activity: @booking.activity %>
    </div>
    <br>
    <p class="font-style mt-2"><i class="fa-solid fa-location-dot"></i>  <%= @booking.activity.address %></p>
    <p class="mt-2">Chat avec les autres papas qui ont aussi réservé cette activité :</p>
    <% @other_legendads_attending.each do |dad| %>
      <%= dad.pseudo %>
      <%= link_to convo_messages_path(dad) do %>
          <i class="fa-regular fa-message"></i>
      <% end %>
    <% end %>

    <%= link_to "Annuler mon activité", booking_path(@booking) , data: { "turbo-method": :delete }, class: "delete-btn" %>
  </div>
</article>
