<nav data-controller="navbar" class="legend-navbar" >
  <%= link_to edit_user_registration_path do %>
    <i class="fa-regular fa-user" <%= "active" if current_page?(edit_user_registration_path) %>></i>
  <% end %>
  <%= link_to bookings_path do %>
    <i class="fa-regular fa-calendar <%= "active" if current_page?(bookings_path) %>"></i>
  <% end %>
  <%= link_to activities_path do %>
    <i class="fa-solid fa-magnifying-glass <%= "active" if current_page?(activities_path) %>"></i>
  <% end %>
  <%= link_to root_path do %>
    <i class="fa-solid fa-house"> <%= "active" if current_page?('#') %></i>
  <% end %>
  <%= link_to convos_path do %>
    <i class="fa-regular fa-message <%= "active" if current_page?(convos_path) %>"></i>
  <% end %>
  
</nav>
