<% @filtered_activities.each do |activity| %>
  <%= link_to activity_path(activity, availability_id: params["availability_id"].present? ? params["availability_id"] : Availability.last.id.to_s) do %>
    <div class="card-product">
      <% if activity.photos.any? %>
      <%= cl_image_tag(activity.photos.first.key, width: 350, height: 300, crop: :fill, gravity: :center) %>
      <% else %>
      <%= image_tag 'papa.jpeg', width: 350, height: 300 %>
      <% end %>
      <div class="card-product-infos">
        <h4 class="activity_title"><%= activity.title %></h4>
        <%= render 'reviews', activity: activity %>
        <p class="activity_description"><%= activity.description.truncate(50).html_safe %></p>
      </div>
    </div>
  <% end %>
<% end %>
