<div class="" data-controller="activity-search">
  <div class="activity-top-search">
    <%= render 'shared/back_arrow', opacity: 0.3 %>
    <div class="tags">
      <%= simple_form_for :query,
                        url: params[:availability_id].present? ? search_availability_activities_path(params[:availability_id]) : search_activities_path,
                        method: :get,
                        html: {
                          data: {
                            action: "submit->activity-search#search",
                            'activity-search-target'=>'form'
                          },
                          id:'tag-form'
                        } do |f| %>
      <%= f.input :tag_list,
                  as: :check_boxes,
                  collection_wrapper_tag: 'div',
                  collection_wrapper_class: 'category-wrapper',
                  collection: @filtered_tags.map { |tag| ["<img src='#{image_path("tags/" + tag.name.downcase + ".png")}'><span>#{tag.name}</span>".html_safe, tag.name] },
                  checked: params.dig(:query, :tag_list),
                  input_html: {
                    class: "tag-selector",
                    data: { action: "click->activity-search#search" }
                  },
                  item_wrapper_class: 'tag-item'%>
      <% end %>

    </div>
  </div>

  <div class="activities_content">
    <div class="title_description" id="activities" data-activity-search-target="activities">
      <%= render 'list', filtered_activities: @filtered_activities %>
    </div>
  </div>
  <div data-activity-search-target="map">
    <%= render 'map', markers: @markers %>
  </div>
</div>
