<section>
  <h2>Reviews for <%= @activity.title %></h2>
  <%= sanitize @activity.format_reviews %>
  <br>
  <br>
  <% @reviews.each do |item| %>
    <h3><%= "#{item.user.email} à écrit: " %></h3>
    <h4><%= item.content %></h4>
    <p><%= sanitize Review.avg_rating(item.rating) %></p>
    <br>
  <% end %>
</section>
