<!-- The Modal -->
<div class="form-modal d-none" data-submit-hours-target="form">
<!-- Modal content -->
  <div class="form-overlay" data-action="click->submit-hours#removeForm">
  </div>
  <div class="form-modal-content">
    <%= simple_form_for Availability.new do |f| %>
      <%= f.input :start_at, as: :string, default: target_day, input_html: { data: { submit_hours_target: "input"} }%>
      <%= f.input :end_at, as: :string, default: target_day, input_html: { data: { submit_hours_target: "input" } } %>
      <%= f.hidden_field :date, value: day %>
      <%= f.hidden_field :tab_id, value: tab_day %>
      <%= f.submit value: "Ajouter ma dispo", class:"yellow-button mt-3"%>
    <% end %>
  </div>
</div>

<div class="container">
  <div class="calendar mt-5">
    <div class="timeline">
      <% i = 9 %>
      <% 12.times do %>
        <p class="border-end border-light border-3 pe-3"><%= (Date.today+i.hours).strftime("%H:%M") %></p>
        <% i += 1 %>
      <% end %>
    </div>
    <!-- Trigger/Open The Modal -->
    <div class="days" data-action="click->submit-hours#displayForm">
      <% if bookings.exists? %>
        <% bookings.each do |booking|  %>
          <% if booking.start_at.strftime('%a %d %b %Y') == day.strftime('%a %d %b %Y') %>
            <% beg = (booking.start_at.hour - 9) * 60 %>
            <% duration = ((booking.end_at.hour - 9) - (booking.start_at.hour - 9)) * 60 %>
            <div class="booking start-at-<%=beg%> duration-<%=duration%> d-flex flex-column justify-content-center" >
              <p class="title"><strong><%=booking.activity.title%></strong></p>
              <p class="schedule">de <%=booking.start_at.hour%>h à <%=booking.end_at.hour%>h</p>
              <p class="activity-result mt-3"> <%= link_to "Voir les détails", booking_path(booking), class:"activities-button mt-3" %></p>
            </div>
          <% end %>
        <% end %>
      <% end %>
      <% if grouped_availabilities[day.strftime('%a %d %b %Y')] %>
        <% grouped_availabilities[day.strftime('%a %d %b %Y')].each do |availability|%>
          <% beg = (availability.start_at.hour - 9) * 60 %>
          <% duration = ((availability.end_at.hour - 9) - (availability.start_at.hour - 9)) * 60 %>
          <div class="event start-at-<%=beg%> duration-<%=duration%> d-flex flex-column justify-content-center" >
            <p class="title">Disponible</p>
            <p class="schedule">de <%=availability.start_at.hour%>h à <%=availability.end_at.hour%>h</p>
            <p class="activity-result mt-3">
            <% if Activity.on_availability(availability).count == 1 %>
                <%= link_to "#{Activity.on_availability(availability).count} activité", availability_activities_path(availability), class:"activities-button" %>
                <%= link_to "X",
                  availability_activities_path(availability),
                  data: {turbo_method: :delete, turbo_confirm: "Are you sure?"},
                  class:"delete-availabilty-button"
                %>
              <% elsif Activity.on_availability(availability).count > 1  %>
                <%= link_to "#{Activity.on_availability(availability).count} activités", availability_activities_path(availability), class:"activities-button"%>
                <%= link_to "X",
                  availability_path(availability),
                  data: {turbo_method: :delete, turbo_confirm: "Are you sure?"},
                  class:"delete-availabilty-button"
                %>
              <% elsif Activity.on_availability(availability).count == 0  %>
                <%= "Pas d'activité dispo sur ce creneau" %>
                <%= link_to "X",
                  availability_path(availability),
                  data: {turbo_method: :delete, turbo_confirm: "Are you sure?"},
                  class:"delete-availabilty-button"
                %>
            <% end %>
            </p>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
