<div class="container mt-3">
  <h1>Mon agenda</h1>
  <h3>Rentre vite tes prochaines dispo</h3>
  <%# <ul>
    <% @availabilities.each do |availability| %>
      <%# <li>
        <%# from <strong><%= availability.start_at.strftime("%A %d %B at %H:%M") %>
      <%# </li>
    <% end %>
  <%# </ul> %>

  <div data-controller="submit-hours">
    <ul class="nav nav-tabs" id="myTab" role="tablist">
      <li class="nav-item" role="presentation">
        <button class="nav-link active" id="today-tab" data-bs-toggle="tab" data-bs-target="#today" type="button" role="tab" aria-controls="today" aria-selected="true" style="color: #FF9B05;"><%= Date.today.strftime('%d/%m/%Y') %></button>
      </li>
      <li class="nav-item" role="presentation">
        <button class="nav-link" id="tomorrow-tab" data-bs-toggle="tab" data-bs-target="#tomorrow" type="button" role="tab" aria-controls="tomorrow" aria-selected="false" style="color: #FF9B05;"><%= (Date.today+1.day).strftime('%d/%m/%Y') %></button>
      </li>
      <li class="nav-item" role="presentation">
        <button class="nav-link" id="day-three-tab" data-bs-toggle="tab" data-bs-target="#day-three" type="button" role="tab" aria-controls="day-three" aria-selected="false" style="color: #FF9B05;"><%= (Date.today+2.day).strftime('%d/%m/%Y') %></button>
      </li>
    </ul>

    <div class="tab-content" id="myTabContent">

      <div class="tab-pane fade show active" id="today" role="tabpanel" aria-labelledby="today-tab" tabindex="0">
        <%= render "calendar_day", target_day: DateTime.now, day: Date.today, bookings: @bookings, grouped_availabilities: @grouped_availabilities, tab_day: "today-tab" %>
      </div>

      <div class="tab-pane fade" id="tomorrow" role="tabpanel" aria-labelledby="tomorrow-tab" tabindex="0">
        <%= render "calendar_day", target_day: DateTime.now + 1.day, day: Date.tomorrow, bookings: @bookings, grouped_availabilities: @grouped_availabilities, tab_day: "tomorrow-tab" %>
      </div>


      <div class="tab-pane fade" id="day-three" role="tabpanel" aria-labelledby="day-three-tab" tabindex="0">
        <%= render "calendar_day", target_day: DateTime.now + 2.day, day: Date.today + 2, bookings: @bookings, grouped_availabilities: @grouped_availabilities, tab_day: "day-three-tab" %>
      </div>
    </div>
  </div>
</div>
