<div class="container mt-3">
  <h1>Mon agenda</h1>
  <h3>Rentre vite tes prochaines dispo</h3>
  <%# <ul>
    <% @availabilities.each do |availability| %>
      <%# <li>
        <%# from <strong><%= availability.start_at.strftime("%A %d %B at %H:%M") %>
      <%# </li>
    <% end %>
  <%# </ul> %>

  <div data-controller="submit-hours">
    <ul class="nav nav-tabs" id="myTab" role="tablist">
      <li class="nav-item" role="presentation">
        <button class="nav-link active" id="today-tab" data-bs-toggle="tab" data-bs-target="#today" type="button" role="tab" aria-controls="today" aria-selected="true"><%= Date.today.strftime('%d/%m/%Y') %></button>
      </li>
      <li class="nav-item" role="presentation">
        <button class="nav-link" id="tomorrow-tab" data-bs-toggle="tab" data-bs-target="#tomorrow" type="button" role="tab" aria-controls="tomorrow" aria-selected="false"><%= (Date.today+1.day).strftime('%d/%m/%Y') %></button>
      </li>
      <li class="nav-item" role="presentation">
        <button class="nav-link" id="day-three-tab" data-bs-toggle="tab" data-bs-target="#day-three" type="button" role="tab" aria-controls="day-three" aria-selected="false"><%= (Date.today+2.day).strftime('%d/%m/%Y') %></button>
      </li>
    </ul>
    <div class="tab-content" id="myTabContent">

      <div class="tab-pane fade show active" id="today" role="tabpanel" aria-labelledby="today-tab" tabindex="0">
        <%= simple_form_for Availability.new do |f| %>
          <%= f.input :start_at, as: :string, default: DateTime.now, input_html: { data: { submit_hours_target: "input" } }%>
          <%= f.input :end_at, as: :string, default: DateTime.now, input_html: { data: { submit_hours_target: "input" } } %>
          <%= f.hidden_field :date, value: Date.today %>
          <%= f.hidden_field :tab_id, value: 'today-tab' %>

          <%= f.submit value: "Ajouter ma dispo", class:"blue-button"%>
        <% end %>

        <div class="container">
            <div class="calendar mt-3">
              <div class="timeline">
                <% i = 9 %>
                <% 12.times do %>
                  <p><%= (Date.today+i.hours).strftime("%H:%M") %></p>
                  <% i += 1 %>
                <% end %>
              </div>
              <div class="days">
                <% if @grouped_availabilities[Date.today.strftime('%a %d %b %Y') ] %>
                  <% @grouped_availabilities[Date.today.strftime('%a %d %b %Y')].each do |availability|%>
                    <% beg = (availability.start_at.hour - 9) * 60 %>
                    <% duration = ((availability.end_at.hour - 9) - (availability.start_at.hour - 9)) * 60 %>
                    <div class="event start-at-<%=beg%> duration-<%=duration%> text-center text-center d-flex flex-column justify-content-center">
                      <p class="title">Creneau horaire disponible:</p>
                      <p class="schedule">de <%=availability.start_at.hour%>h a <%=availability.end_at.hour%>h</p>
                      <p class="activity-result">
                        <% if Activity.on_availability(availability).count == 1 %>
                          <%= link_to "#{Activity.on_availability(availability).count} activité dispo", availability_activities_path(availability), class:"yellow-button-a" %>
                        <% elsif Activity.on_availability(availability).count > 1  %>
                          <%= link_to "#{Activity.on_availability(availability).count} activités dispo", availability_activities_path(availability), class:"yellow-button-a" %>
                          <% elsif Activity.on_availability(availability).count == 0  %>
                          <%= "Pas d'activité dispo sur ce creneau" %>
                        <% end %>
                      </p>
                    </div>
                  <% end %>
                <% end %>`
              </div>
            </div>
          </div>
        </div>

      <div class="tab-pane fade" id="tomorrow" role="tabpanel" aria-labelledby="tomorrow-tab" tabindex="0">
        <%= simple_form_for Availability.new do |f| %>
          <%= f.input :start_at, as: :string, default: DateTime.now + 1.day, input_html: { data: { submit_hours_target: "input"} } %>
          <%= f.input :end_at, as: :string, default: DateTime.now + 1.day, input_html: { data: { submit_hours_target: "input" } } %>
          <%= f.hidden_field :date, value: Date.tomorrow %>
          <%= f.hidden_field :tab_id, value: 'tomorrow-tab' %>
          <%= f.submit value: "Ajouter ma dispo", class:"blue-button"%>
        <% end %>

        <div class="container">
            <div class="calendar mt-3">
              <div class="timeline">
              <% i = 9 %>
                <% 12.times do %>
                <p><%= (Date.today+i.hours).strftime("%H:%M") %></p>
                  <% i += 1 %>
                <% end %>
              </div>
              <div class="days">
                <% if @grouped_availabilities[Date.tomorrow.strftime('%a %d %b %Y')] %>
                <% @grouped_availabilities[Date.tomorrow.strftime('%a %d %b %Y')].each do |availability|%>
                  <% beg = (availability.start_at.hour - 9) * 60 %>
                  <% duration = ((availability.end_at.hour - 9) - (availability.start_at.hour - 9)) * 60 %>
                  <div class="event start-at-<%=beg%> duration-<%=duration%> text-center text-center d-flex flex-column justify-content-center" >
                    <p class="title">Creneau horaire disponible</p>
                    <p class="schedule">de <%=availability.start_at.hour%>h a <%=availability.end_at.hour%>h</p>
                    <p class="activity-result">
                    <% if Activity.on_availability(availability).count == 1 %>
                        <%= link_to "#{Activity.on_availability(availability).count} activité dispo", availability_activities_path(availability), class:"yellow-button-a" %>
                      <% elsif Activity.on_availability(availability).count > 1  %>
                        <%= link_to "#{Activity.on_availability(availability).count} activités dispo", availability_activities_path(availability), class:"yellow-button-a" %>
                      <% elsif Activity.on_availability(availability).count == 0  %>
                        <%= "Pas d'activité dispo sur ce creneau" %>
                      <% end %>
                    </p>
                    </p>
                  </div>
                <% end %>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="tab-pane fade" id="day-three" role="tabpanel" aria-labelledby="day-three-tab" tabindex="0">
        <%= simple_form_for Availability.new do |f| %>
          <%= f.input :start_at, as: :string, default: DateTime.now + 2.day, input_html: { data: { submit_hours_target: "input" } } %>
          <%= f.input :end_at, as: :string, default: DateTime.now + 2.day, input_html: { data: { submit_hours_target: "input" } } %>
          <%= f.hidden_field :date, value: Date.today + 2 %>
          <%= f.hidden_field :tab_id, value: 'day-three-tab' %>

          <%= f.submit value: "Ajouter ma dispo", class:"blue-button"%>
        <% end %>

        <div class="container">
              <div class="calendar mt-3">
                <div class="timeline">
                <% i = 9 %>
                  <% 12.times do %>
                  <p><%= (Date.today+i.hours).strftime("%H:%M") %></p>
                    <% i += 1 %>
                  <% end %>
                </div>
                <div class="days">
                <% if @grouped_availabilities[(Date.today + 2).strftime('%a %d %b %Y') ] %>
                  <% @grouped_availabilities[(Date.today + 2).strftime('%a %d %b %Y') ].each do |availability|%>
                    <% beg = (availability.start_at.hour - 9) * 60 %>
                    <% duration = ((availability.end_at.hour - 9) - (availability.start_at.hour - 9)) * 60 %>
                    <div class="event start-at-<%=beg%> duration-<%=duration%> text-center text-center d-flex flex-column justify-content-center" >
                      <p class="title">Creneau horaire disponible</p>
                      <p class="schedule">de <%=availability.start_at.hour%>h a <%=availability.end_at.hour%>h</p>
                      <p class="activity-result">
                        <% if Activity.on_availability(availability).count == 1 %>
                          <%= link_to "#{Activity.on_availability(availability).count} activité dispo", availability_activities_path(availability), class:"yellow-button-a" %>
                        <% elsif Activity.on_availability(availability).count > 1  %>
                          <%= link_to "#{Activity.on_availability(availability).count} activités dispo", availability_activities_path(availability), class:"yellow-button-a" %>
                        <% elsif Activity.on_availability(availability).count == 0  %>
                          <%= "Pas d'activité dispo sur ce creneau" %>
                        <% end %>
                      </p>
                    </div>
                  <% end %>
                  <% end %>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
