<div class="container mt-3">
  <div class="calendar-head">
    <h2>Mon agenda</h2>
  </div>

  <div data-controller="submit-hours">
    <div class="next-three-days nav">
      <div class="the-day active" id="today-tab" data-bs-toggle="tab" data-bs-target="#today" type="button" role="tab" aria-controls="today" aria-selected="true">
        <p class="word"><%= Date.today.strftime('%a')%></p>
        <p class="number"><%= Date.today.strftime('%d')%></p>
        <p class="word"><%= Date.today.strftime('%b')%></p>
      </div>
      <div class="the-day" id="tomorrow-tab" data-bs-toggle="tab" data-bs-target="#tomorrow" type="button" role="tab" aria-controls="tomorrow" aria-selected="false">
        <p class="word"><%= (Date.today+1).strftime('%a')%></p>
        <p class="number"><%= (Date.today+1).strftime('%d')%></p>
        <p class="word"><%= (Date.today+1).strftime('%b')%></p>
      </div>
      <div class="the-day" id="day-three-tab" data-bs-toggle="tab" data-bs-target="#day-three" type="button" role="tab" aria-controls="day-three" aria-selected="false">
        <p class="word"><%= (Date.today+2).strftime('%a')%></p>
        <p class="number"><%= (Date.today+2).strftime('%d')%></p>
        <p class="word"><%= (Date.today+2).strftime('%b')%></p>
      </div>
    </div>

    <div class="tab-content" id="myTabContent">

      <div class="tab-pane fade show active" id="today" role="tabpanel" aria-labelledby="today-tab" tabindex="0">
        <%= render "calendar_day", target_day: DateTime.now, day: Date.today, bookings: @bookings, grouped_availabilities: @grouped_availabilities, tab_day: "today-tab" %>
      </div>

      <div class="tab-pane fade" id="tomorrow" role="tabpanel" aria-labelledby="tomorrow-tab" tabindex="0">
        <%= render "calendar_day", target_day: DateTime.now + 1.day, day: Date.tomorrow, bookings: @bookings, grouped_availabilities: @grouped_availabilities, tab_day: "tomorrow-tab" %>
      </div>


      <div class="tab-pane fade" id="day-three" role="tabpanel" aria-labelledby="day-three-tab" tabindex="0">
        <%= render "calendar_day", target_day: DateTime.now + 2.day, day: Date.today + 2, bookings: @bookings, grouped_availabilities: @grouped_availabilities, tab_day: "day-three-tab" %>
      </div>
    </div>
  </div>
</div>
